.container {
    background-color: #5AB568;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 20px;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

/* .logo{
    padding-right:20%;
    width: 30%;
} */

.searchBox{
    width: 50%;
}

.searchBox input {
    width: 100%;
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12%;
}

#cartIcon, #orderIcon{
    color: white;
}
.logout{
    background-color: white;
    color: #5AB568;
    border: none;
    padding: 10px;
    font-weight: 600;
}